.conteier{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.menuIcon {
    display: flex;
    align-items: flex-end;
    padding: 3px 6px;
    margin: 0;
    color: #aaa;
    font-size: 1.4em;
    border-radius: 5px;
    cursor: pointer; 
}

.conteier i:hover {
   background-color:rgba(51, 51, 51, 0.5);
   color: #fff;
  
}

.menu{
  top: 65px;
  
 }

.NavLink {
    font-size: 16px;
    margin: 0;
    padding: 10px 0;
    color: #fff;
    margin: auto;
    width: 100%;
}

.NavLink i {
  font-size: 16px;
  margin-right: 15px;
}

.menu a:hover{
  background-color: cadetblue;
}

@media screen and (max-width:400px){

 .menuIcon{
    font-size: 1em;
  } 
   .menu{
    top: 90px;
   }
 }